mission_15/mission-result/researcher1/__pycache__
mission_15/mission-result/researcher1/data
mission_15/mission-result/researcher1/models
mission_15/mission-result/researcher2/models

mission_16/data
mission_16/models